<div class="bg-white dark:bg-gray-900">
    <div class="flex justify-center h-screen">
        <div class="hidden bg-cover lg:block lg:w-2/3" style="background-image: url(../../../assets/images/login-background.avif)">
            <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
                <div>
                    <h2 class="text-4xl font-bold text-white">Feedback.Hub</h2>
                    
                    <p class="max-w-xl mt-3 text-gray-300">Откройте двери к вашему мнению!</p>
                </div>
            </div>
        </div>
        
        <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
            <div class="flex-1">
                <div class="text-center">
                    <a routerLink="/">
                        <h2 class="text-4xl font-bold text-center text-gray-700 dark:text-white">Feedback.Hub</h2>
                    </a>
                    
                    <p class="mt-3 text-gray-500 dark:text-gray-300">Зарегистрируйте аккаунт</p>
                </div>

                <div class="mt-8">

                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div>
                            <div class="flex justify-between mb-2">
                                <label for="nickname" class="text-sm text-gray-600 dark:text-gray-200">Ник</label>
                            </div>

                            <input formControlName="nickname" name="nickname" id="nickname" placeholder="Ваш никнейм" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <div *ngIf="form.controls['nickname'].invalid && (form.controls['nickname'].dirty || form.controls['nickname'].touched)" class="my-1.5 text-xs text-red-800">
                                <span *ngIf="form.controls['nickname'].errors?.['required']">*Данное поле не может быть пустым</span>
                                <span *ngIf="form.controls['nickname'].errors?.['minlength']">*Данное поле не может быть меньше 4 симоволов</span>
                            </div>
                        </div>

                        <div class="mt-6">
                            <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Email</label>
                            <input formControlName="email" type="email" name="email" id="email" placeholder="example@example.com" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="my-1.5 text-xs text-red-800">
                                <span *ngIf="form.controls['email'].errors?.['required']">*Данное поле не может быть пустым</span>
                                <span *ngIf="form.controls['email'].errors?.['email']">*Данный email введен не корректно</span>
                            </div>
                        </div>

                        <div class="mt-6">
                            <div class="flex justify-between mb-2">
                                <label for="password" class="text-sm text-gray-600 dark:text-gray-200">Пароль</label>
                            </div>

                            <input formControlName="password" type="password" name="password" id="password" placeholder="Ваш пароль" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)" class="my-1.5 text-xs text-red-800">
                                <span *ngIf="form.controls['password'].errors?.['required']">*Данное поле не может быть пустым</span>
                                <span *ngIf="form.controls['password'].errors?.['minlength']">*Данное поле не может быть меньше 6 симоволов</span>
                            </div>
                        </div>

                        <div class="mt-6">
                            <div class="flex justify-between mb-2">
                                <label for="password" class="text-sm text-gray-600 dark:text-gray-200">Повторите пароль</label>
                            </div>

                            <input formControlName="confirm_password" type="password" name="confirm_password" id="confirm_password" placeholder="Ваш пароль" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <div *ngIf="form.controls['confirm_password'].invalid && (form.controls['confirm_password'].dirty || form.controls['confirm_password'].touched)" class="my-1.5 text-xs text-red-800">
                                <span *ngIf="form.controls['confirm_password'].errors?.['required']">*Данное поле не может быть пустым</span>
                                <span *ngIf="form.controls['confirm_password'].errors?.['minlength']">*Данное поле не может быть меньше 6 симоволов</span>
                            </div>
                            <div *ngIf="form.controls['confirm_password'].valid"  class="my-1.5 text-xs text-red-800">
                                <span *ngIf="form.value.password !== form.value.confirm_password">*Пароли не совпадают</span>
                            </div>
                        </div>
            
                        <div class="mt-6">
                            <button [disabled]="form.controls['nickname'].invalid || form.controls['email'].invalid || form.controls['password'].invalid || form.value.password !== form.value.confirm_password" type="submit" class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                                Зарегистрироваться
                            </button>
                        </div>

                    </form>

                    <p class="mt-6 text-sm text-center text-gray-400">Уже есть аккаунт? <a routerLink="/login" class="text-blue-500 focus:outline-none focus:underline hover:underline">Войти</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>